/* Тут пиши основные стили */

.text_header{
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    color: rgba(0,0,0,0.84);
    text-align: left;
    width: 700px;
    padding-bottom: 10px;
    padding-left: 360px;
    padding-right: 363px;
    padding-top: 55px;
}

.text_block{
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    color:rgba(0,0,0,0.84);
    text-align:left;
    width: 700px;
    padding-left: 362px;
    padding-right: 361px;
}

.text_code{
    font-family: "Courier New", monospace;
    width: 700px;
}

.big-break {
    display: block;
    margin-bottom: 20px;
}
@media (max-width: 800px) {
/* Тут пиши стили для мобилки.
    Стили применятся только когда страничка будет ≤800px шириной
 */
}