/* Тут пиши основные стили */

.text_header{
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
    color: rgba(0,0,0,0.84);
    text-align: left;
    width: 700px;
    padding-bottom: 10px;
    padding-left: 360px;
    padding-right: 363px;
    padding-top: 55px;
}
.menu {
    border-top: 2px solid #ccc;
    border-bottom: 2px solid #ccc;
    background: #faf9f8;
    padding: 15px 0;
    margin-top: 20px;
}

.menu ul {
    display: flex;
    justify-content: flex-start;
    gap: 30px;
    list-style: none;
    margin: 0;
    padding: 0;
    font-family: LucidaGrande, sans-serif;
    font-size: 24px;
    color: #d0021b;
    text-align: left;
    line-height: 36px;
}

.menu a {
    color: black;
    text-decoration: none;
    font-size: 24px;
}
.menu .active {
    color: red;
    font-weight: bold;
}
.menu a:hover {
    text-decoration: underline;
}
ul {
    font-family:LucidaGrande;
    font-size:24px;
    color:#333333;
    text-align:left;
    line-height:36px;
    display: flex;
    gap: 30px;
    list-style: none;
}
nav {

}
.text_block{
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
    color:rgba(0,0,0,0.84);
    text-align:left;
    width: 700px;
    padding-left: 362px;
    padding-right: 361px;
}

.text_code{
    font-family: "Courier New", monospace;
    width: 700px;
}

.big-break {
    display: block;
    margin-bottom: 20px;
}
@media (max-width: 800px) {
/* Тут пиши стили для мобилки.
    Стили применятся только когда страничка будет ≤800px шириной
 */
}